footer {
  padding: 20px 0;
  background: $cinza;
  @include box-shadow(0 0 0 10px $cinza);
  p {
    display: inline;
    color: $bege-claro;
    @include d(s) {
      display: inline-block;
      text-align: center;
    }
  }

  a img {
    float: right;
    @include d(m) {
      display: inline;
    }
    @include d(s) {
      float: none;
      margin: 20px auto;
    }
  }
}